body {
	background-color: black;
}

.d-table {
	display: table;
	border-spacing: 10px;
	min-width: 300px;
	position: relative;
	margin: auto;
}

.d-table-cell {
	display: table-cell;
	text-align: center;
	background-color: white;
	color: #101010;
	font-weight: 500;
	font-family: "Lucida Console", Monaco, monospace;
	text-decoration: underline;
}

.onoff {
  text-align: left;
  background-color: white;
  width: 40px;
}

.onoff button {
	position: relative;
	height: 20px;
	border: 2px;
	border-color: black;
	background-color: black;
}

.onoff button:hover {
	cursor: pointer;
}

#below {
	display: none;
	padding: 40px;
	justify-items: center;
}

.content {
  border: 3px solid white;
  width: 80vw;
  margin: auto;
  min-height: 300px;
  text-align: left;
}

#content_text {
	color: white;
	display: none;
	padding: 40px;
	font-family: "Apple Chancery";
	font-size: 15pt;
}

nav {
  display: flex;
  justify-content: space-evenly;
  padding-top: 50px;
  min-width: 840px;
}

nav div {
	vertical-align: top;
}

nav div div {
	border: 3px solid white;
	width: 120px;
	height: 120px;
	cursor: pointer;
}

h1 {
	text-align: center;
	color: white;
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 12px;
}

div.VCO {
	background: url("img/VCO.jpg") no-repeat;
	background-size: 120px;
}
div.VCO:hover {
	background: url("gifs/VCO.gif") no-repeat;
	background-size: 120px;
}

div.FILTER {
	background: url("img/filter.jpg") no-repeat;
	background-size: 120px;
}
div.FILTER:hover {
	background: url("gifs/filter.gif") no-repeat;
	background-size: 120px;
}

div.VCA {
	background: url("img/VCA.jpg") no-repeat;
	background-size: 120px;
}
div.VCA:hover {
	background: url("gifs/VCA.gif") no-repeat;
	background-size: 120px;
}

div.LFO {
	background: url("img/LFO.jpg") no-repeat;
	background-size: 120px;
}
div.LFO:hover {
	background: url("gifs/LFO.gif") no-repeat;
	background-size: 120px;
}

div.EG {
	background: url("img/EG.jpg") no-repeat;
	background-size: 120px;
}
div.EG:hover {
	background: url("gifs/EG.gif") no-repeat;
	background-size: 120px;
}
