// center cart item number
// align desktop links with links_des
// desktop nav bar slightly shifting on some pages

div::-webkit-scrollbar {
	width: 12px;
	height: 12px;
}
div::-webkit-scrollbar-thumb {
	background-color: blue;
	border-radius: 20px;
	border: 3px solid white;
}

body{
	margin: 0px;
}

#navhome {
	display: flex;
	margin: auto;
	padding-top: 100px;
	flex-direction: column;
	align-items: center;
	position: relative;
}

#navbar {
	display: none;
}

#navhome div {
	padding: 10px;
}

#top {
	display: flex;
	margin: auto;
	flex-direction: column;
	flex-wrap: wrap;
	width: 100%;
	padding: 40px 0px 40px;
	border-bottom: #0000ff;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	position: fixed;
	background-color: white;
}

#cart_view {
	display: none;
	margin: auto;
	border-bottom: 3px solid blue;
	padding: 50px;
}

.grid {
	display: flex;
	width: 100%;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
.grid div {
	max-width: 50%;
}

.cart-display {
	display: block;
	overflow: scroll;
	height: 100vh;
}
.left {
	position: relative;
}
.size {
	position: absolute;
	top: 20px;
	left: 20px;
}
.hidden {
	display: none;
}

article {
	padding: 50px;
}

.cart-count {
	display: none;
	background-color: blue;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	padding: 5px;
	color: #fff;
	text-align: center;
}
.cart-item {
	border-bottom: 1px solid blue;
}
.cart-empty {}

#product_list {
	display: flex;
	margin: auto;
	min-width: 200px;
	justify-content: flex-start;
	flex-flow: column wrap;
	padding: 200px 50px;
}

.product {
	padding-bottom: 50px;
}

.images {
	display: flex;
	overflow: scroll;
	align-items: flex-start;
	padding-bottom: 10px;
}

#logo {
	width: 90px;
	padding-left: 10px;
	align-self: center;
}

.cart {
	width: 120px;
	padding-left: 10px;
	align-self: center;
	font-weight: bold;
	font-size: large;
}

p {
	text-decoration: none;
	font-family: sans-serif;
	font-size: smaller;
	color: #0000ff;
}

a {
	text-decoration: none;
	font-family: sans-serif;
	font-weight: lighter;
	color: #0000ff;
}

.product div img {
	max-width: 100%;
}

.sizes{
	display: flex;
	width: auto;
}

.sizes button {
	background-color: white;
	border: 1px solid #0000ff;
	border-radius: 3px;
	width: 100%;
	font-size: large;
	text-align: center;
	margin: 1px;
	color: #0000ff;
}
button.active-size {
	color: white;
	background-color: blue;
}

.add {
	background-color: blue;
	color: white;
	border: 1px solid blue;
	border-radius: 3px;
	width: 100%;
	font-size: large;
}

#about {
	display: flex;
	margin: auto;
	padding: 200px 40px 40px;
	align-content: flex-start;
	flex-direction: column;
}

#about p {
	font-size: small;
}

#about img {
	padding-top: 20px;
	max-width: 100%;
}

#links_list {
	display: flex;
	margin: auto;
	padding: 200px 40px 40px;
	align-content: flex-start;
	flex-direction: column;
	text-align: center;
}

#links_list a {
	font-weight: bold;
	font-size: large;
	padding-bottom: 15px;
}

#links_list a:hover {
	font-style: italic;
	text-decoration: underline;
}

#link_des {
	display: none;
}

#bottom_fade {
	background: linear-gradient(to top, #0000ff 0%, transparent 100%);
	position: fixed;
	bottom: 0px;
	width: 100%;
	height: 100px;
}

@media (min-width: 768px) {
	div::-webkit-scrollbar {
		width: 12px;
		height: 12px;
	}
	div::-webkit-scrollbar-thumb {
		background-color: blue;
		border-radius: 20px;
		border: 3px solid white;
	}
	
	#navbar {
		display: flex;
		padding-top: 100px;
		height: 100px;
		flex-direction: row;
		margin: auto;
		justify-content: space-evenly;
	}
	#navbar div a {
		pointer-events: auto;
		padding: 5px 20px;
		border-radius: 10px;
	}
	#navbar div a:hover {
		color: white;
		background-color: blue;
	}
	
	#cart_view{
		display: flex;
		margin-left: 100px;
		margin-right: 100px;
	}
	#container {
		min-height: 300px;
	}
	#totaldiv {
		display: flex;
		justify-content: flex-end;
		margin-right: 100px;
	}
	#total p {
		font-size: larger;
		font-weight: bold;
		border-radius: 30px;
		padding: 10px;
		background-color: blue;
		color: white;
		max-width: fit-content;
	}
	#dollars p {
		font-size: larger;
		font-weight: bold;
		border-radius: 30px;
		border: 3px solid blue;
		padding: 10px;
		background-color: white;
		color: blue;
		max-width: fit-content;
	}
	
	#top {
		display: none;
	}
	
	#apparelholder {
		order: -1;
	}
	#aboutholder {
		order: -2;
	}
	#logoholder {
		order: 0;
	}
	
	#about {
		flex-wrap: wrap;
		justify-content: center;
		flex-direction: column;
		padding: 50px;
	}
	#abouttext {
		column-count: 2;
	}
	#abouttext p {
		font-size: larger;
	}
	#horse {
		max-width: 50%;
	}
	
	#product_list {
		flex-direction: row;	
		justify-content: space-between;
		padding: 50px;
	}
	.product {
		max-width: 40%;
	}
	.cart {
		font-weight: lighter;
		font-size: inherit;
	}
	.top_container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	
	#links {
		display: flex;
		justify-content: center;	
	}
	#links_list,
	#link_des {
		display: flex;
		padding: 50px 20px 0px;
		margin: 0px;
		flex-direction: column;
		max-width: 50%;
	}
	#link_des {
		max-width: fill-available;
	}
	#links_list a {
		text-align: right;
	}
	#link_des p {
		font-weight: lighter;
		font-size: large;
		padding-bottom: 15px;
		margin: 0px;
	}
	
	#bottom_fade {
		display: none;
	}
}